#containerCart{
    margin-right: 40px;
}


.numeroCarrito{
    display: inline-block;
    position: absolute;
    text-align: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    font-size: 15px;
}